@charset "utf-8";
/* 어벤져스 CSS - avengers.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Single+Day&display=swap');

/* 
    font-family: 'Monoton', cursive;
    font-family: 'Single Day', cursive;
*/

html{
    scroll-behavior: smooth;
    /* #아이디 a요소 이동 시 부드러운 스크롤 애니메이션이 작동됨. */
}

/* 초기화 */
html,body,h1,h2,ul,ol{
    margin: 0;
    padding: 0;
}
/* 초기 세팅 */
a{
    color: #fff;
    text-decoration: none;
}
body{
    /* 배경이미지 채우기 */
    background: url(../ab_img/space.jpg) no-repeat fixed center/cover;
    /* 전체 body를 넘칠 경우, 스크롤 바 숨기기 */
    /* overflow: hidden; */
}
/* body의 높이 값을 보이는 화면에 맞추기 */
html,body{
    height: 100%;
    /* 
        body 100%는 html을 기준으로 하며,
        html 100%는 window(보이는 화면)을 기준으로 한다.
        %세팅 시 html과 body 모두 세팅해야 한다.

        참고로 width:100%를 하는 경우도 있는데, width에 아무 값도 안주면 디폴트 auto 상태이다.
        100%의 경우, 컨텐트 영역의 크기를 채우도록 세팅한 것이다. 따라서 보더나 패딩을 주면 박스의 크기가 커져서 스크롤 바가 생긴다.
        auto의 경우, 보더와 패딩이 내부에 포함이 된다.
        특별한 경우가 아니면 auto가 났다. 굳이 100% 줄 필요는 없다.
    */
}

/* 0. 전체 타이틀 */
.tit{
    /* 고정 포지션 */
    position: fixed;
    width: 100%;
    z-index: 99;

    font-family: 'Monoton', cursive;
    color: #fff;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
    /* 위 아래 패딩 */
    padding: 50px 0 ;
}

/* 1. 페이지 박스 공통 */
.page{
    height: 100%;
    /* 한 페이지당 html,body를 보이는 화면 100%와 같이 보이는 화면만큼 크기 설정하기 */
    position: relative;
    /* .gobtn을 위해 부모 자격을 줌 */
}

/* 2. 메인 캐릭터 박스 */
.abx{
    /* .cbx의 부모 자격을 주기 위한 포지션 */
    position: relative;
    width: 300px;
    height: 400px;
    top: 220px;
    
    /* 배경이미지 색이반고윙크 */
    background: url(../ab_img/ab0.jpg) no-repeat center/cover;
    /* 둥근 모서리 -> 원형을 만들고 싶으면 50% */
    border-radius: 50%;
    margin: 0 auto;

    /* 글로우 효과 : 박스 그림자로 구현
    box-shadow: x y blur spread 색; */
    box-shadow: 0 0 50px 10px cyan,
    inset 0 0 20px lightblue;
}

/* 캐릭터 박스 */
.cbx{
    /* absolute(앱솔루트) 포지션
    위치 값을 주기 전에는 모두 겹치고, 싸고 있는 박스에 젠틀하게 있고, 크기는 내용만큼 자동으로 맞춰진다. 나중에 만들어진 것이 위로 온다. */
    position: absolute;
    top : calc(50% - 75px);
    left : calc(50% - 75px);
    /* 이 때 부모는? .abx */

    /*
        [ 앱솔루트 자식 박스를 부모 박스의 정 중앙에 위치 시키는 방법 ]
        top : calc(50% - (자기 높이의 절반));
        left : calc(50% - (자기 크기의 절반));
        calc 함수를 사용할 때, +-기호의 앞뒤는 반드시 띄어둔다.
    */

    /* 박스 테두리(확인 용으로 임시로 만듬) */
    /* outline: 3px dotted yellow; */
    /* 박스 테두리로 확인해 보니 이미지의 크기가 다 다르다. 이미지의 크기를 통일 시켜보자. */
    /* 박스 크기 설정: 박스 크기를 통일 시키고 이미지를 박스 크기에 맞추자.(.cbx img{}에서 적용) */
    width: 150px;
    height: 150px;

    /* 처음에 투명했다가 보이게 하기 */
    opacity: 0;
    /* 트랜지션 (속시이지)*/
    transition: .6s ease-in-out;
}

/* 캐릭터 이미지 */
.cbx img{
    /* 각각 이미지 크기들을 통일 시킨다. */
    width: 100%;
    height: 100%;
    /* 100%로 맞추면 이미지 크기가 거기에 맞춰져서 늘어난다. 이럴때는 어떻게 해야 할까? */
    object-fit: cover;
    /*
        object-fit (obf)
        -> 이미지나 동영상을 박스에 맞출 때, 옵션을 설정해 주는 속성
        1. fill
        설정 값에 맞춰 강제로 적용한다. 늘어난다.(기본 값)
        2. contain
        박스에 모두 보인다. 여백 생김.
        3. cover
        박스를 비율에 맞게 채운다. 여백 없이 채우며 배경cover랑 유사한 효과를 준다.
    */

    /* 이미지 둥글게 */
    border-radius: 50%;
    /* 글로우 효과 */
    box-shadow: 0 0 30px 10px lightgreen;
}

/* body에 오버 시 전체 opacity 보이게하기 */
body:hover .cbx{
    opacity: 1;
}

/* 2-1. 아이언맨 */
body:hover .cbx:nth-child(1){
    top: -15%;
    left: -60%;
}
/* 2-2. 토르 */
body:hover .cbx:nth-child(2){
    top: 62.5%;
    left: -70%;
}
/* 2-3. 타노스 */
body:hover .cbx:nth-child(3){
    top: 120%;
}
/* 2-4. 닥터 스크레인지 */
body:hover .cbx:nth-child(4){
    top: 62.5%;
    left: 120%;
}
/* 2-5. 스타로드 */
body:hover .cbx:nth-child(5){
    top: -15%;
    left: 110%;
}

/* 캐릭터 설명박스 공통 */
.cd{
    /* 포지션 세팅 */
    position: absolute;/* 부모는? .cbx */
    /* 처음에 내려가 있다가 오버 시 0으로 top값이 올라온다. */
    top: 30%;

    /* 글자 세팅 */
    color: #fff;
    font-family: 'Single Day', cursive;
    text-shadow: 1px 1px 1px #000;

    /* 박스 세팅 */
    width: 300px;

    /* 처음에 height값을 0으로 줘서 박스를 숨긴다.
    투명한 상태에서 마우스 오버 되는 경우를 없애기 위해서다. */
    height: 0;

    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
    
    /* 처음에 투명하게 */
    opacity: 0;

    /* 트랜지션: 속시이지 */
    transition: .4s ease-out;
}

/* .cd 직계 자식 div로 디자인 이전하기
    -> 왜 이렇게 하는가? height 값을 0으로 숨길려고 하는데, padding과 border 때문에 숨겨지지 않는다.
    따라서 이것을 직계자식 div로 이전한다. */
.cd>div{
    /* 원레는 .cd{}에 있었음 */
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

/* .cbx에 오버시 글자박스 보이기 */
.cbx:hover .cd{
    top: 0;
    opacity: 1;
    height: auto;
    /* 전체적으로 트랜지션이 설정되어 있지만, height 값이 특정 값(px,%)로 설정되지 않고, auto일 경우에는 애니메이션이 되지 않는다.
    만약 적용되는 것을 안할려면 트랜지션에서 개별 세팅을 해야 한다. */
}

/* 왼쪽 진영 글자박스 클래스 생성 */
.ltxt{
    left: -240%;
}
/* 왼쪽 진영 제목을 오른쪽으로 정렬 */
.ltxt h2{
    text-align: right;
}
/* 오른쪽 진영 글자박스 클래스 생성 */
.rtxt{
    right: -240%;
}

/* 예고편 페이지 */

/* 서브 타이틀 */
.subtit{
    position: sticky;
    top: 180px;
    padding: 0;
    text-align: center;
    color: #fff;
}

/* 동영상 박스 */
.mvbx{
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    margin-top: 300px;
}
/* 아이프레임 */
.mvbx iframe{
    /* .mvbx 박스 크기에 맞춤 */
    width: 100%;
    height: 100%;
    border: none;
    /* 아이프레임에는 기본 프레임이 있어서 이것을 없애준다. */
}

/* 이동 버튼 공통 디자인 */
.gobtn{
    position: absolute;
    right: 10%;
    /* 부모는 누구? .page */
    font-size: 30px;
    z-index: 99;
}
/* 가상클래스로 화살표 모양 넣기 */
#pg1 .gobtn::after{
    content: '👇';
}
#pg2 .gobtn::after{
    content: '👆';
}
/* 이동 버튼 개별 디자인 */
#pg1 .gobtn{
    bottom: 2%;
}
#pg2 .gobtn{
    top: 2%;
}

/* 버튼을 마우스 오버 시 a변경 */
.gobtn:hover{
    color: pink;
    text-decoration: overline;
}