@charset "utf-8";

/* 왼팔 상단 올리기 */
@keyframes up_L_arm {
    0%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(50deg);
    }
    100%{
        transform: rotate(35deg);
    }
}
.L_arm{
    animation: up_L_arm 1s ease-out 1 normal forwards;
}

/* 왼팔 하단 허리로 이동하기 */
@keyframes move_L_arm_span {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-95deg);
    }
}
.L_arm span{
    animation: move_L_arm_span 1s linear 1 normal forwards;
}

/* 왼손 꺽기 */
@keyframes move_L_hand {
    0%{
        transform: rotate(0)
        rotateY(0);
    }
    100%{
        transform: rotate(80deg)
        rotateY(50deg);
    }
}
.L_arm span::after{
    transform-origin: center top;
    animation: move_L_hand 1s linear 1 normal forwards;
}