@charset "utf-8";

/* Robot PJ - 애니메이션 CSS */

/* 키프레임 : 애니메이션 장면 연출 
[ 키프레임이란? ]
- 애니메이션 변화를 지정하는 코딩영역
[ 2장면 코딩법 ]
@keyframes 키프레임명{
    from{시작CSS}
    to{마지막CSS}
}
[ 여러장면 코딩법 ]
- 퍼센트로 장면을 분할하여 사용함
(무한대의 장면 연출가능)
@keyframes 키프레임명{
    0%{CSS설정}
    10%{CSS설정}
    20%{CSS설정}
    ...
    90%{CSS설정}
    100%{CSS설정}
}
[ 설정된 키프레임 호출하는 방법 ]
animation: 이시이지반방마
(이름 시간 이징 지연 반복 방향 마지막상태)
*/

/* 1-1. 로봇 등장 키프레임 */
@keyframes showRobot {
    from{
        transform: 
        scale(.1) translate(100%,-100%);
    }
    to{
        transform: scale(1);
    }
}
/* 1-2. 키프레임 호출설정! - 대상  */
.robx{
    /* 애니메이션: 이시이지반방마 */
    /* animation: showRobot 2s ease-in-out .5s 3; */
}


@keyframes star_color {
    25% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: yellow;
    }
    100% {
        background-color: green;
    }
}
.R_eye::before{
    /* 별 색이 계속 바뀌도록 하기 */
    animation-name: star_color;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode: none;
}


@keyframes hair_change {
    0% {
        background: url(../images/hair01.png) no-repeat center/100% 100%;
    }
    10% {
        background: url(../images/hair02.png) no-repeat center/100% 100%;
    }
    20% {
        background: url(../images/hair03.png) no-repeat center/100% 100%;
    }
    30% {
        background: url(../images/hair04.png) no-repeat center/100% 100%;
    }
    40% {
        background: url(../images/hair05.png) no-repeat center/100% 100%;
    }
    50% {
        background: url(../images/hair06.png) no-repeat center/100% 100%;
    }
    60% {
        background: url(../images/hair07.png) no-repeat center/100% 100%;
    }
    70% {
        background: url(../images/hair08.png) no-repeat center/100% 100%;
    }
    80% {
        background: url(../images/hair09.png) no-repeat center/100% 100%;
    }
    90% {
        background: url(../images/hair10.png) no-repeat center/100% 100%;
    }
    100% {
        background: url(../images/hair01.png) no-repeat center/100% 100%;
    }
    
}
.head::before{
    animation-name: hair_change;
    animation-duration:8s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode: none;
}

@keyframes move_mouth{
    0%{
        height: 80px;
        top: 55%;
    }
    50%{
        height: 40px;
        top: 65%;
    }
    100%{
        height: 80px;
        top: 55%;
    }
}
.mouth{
    animation-name: move_mouth;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode: none;
}

@keyframes move_eye{
    0%{
        translate: 0 0;
    }
    25%{
        translate: -20% 0;
    }
    50%{
        translate: -20% -20%;
    }
    75%{
        translate: 0 -20%;
    }
    100%{
        translate: 0 0;
    }
}
.L_eye{
    animation-name: move_eye;
    animation-duration:.5s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-fill-mode: none;
}

@keyframes turn_eye{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.R_eye{
    animation-name: turn_eye;
    animation-duration:.5s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode: none;
}