@charset "utf-8";

/* 로봇 PJ 메인 CSS - Robot.css */

/* 초기화 */
html,body,h1,h2,p,ol,ul{
    margin: 0;
    padding: 0;
}

/*********************************** 공통 클래스 ***********************************/

/* 메탈 소재1 배경 */
.mt1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 메탈 소재2 배경 */
.mt2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}


body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 코딩 중에 가독성을 위한 임시 표시 */
body *{
    outline: 2px dashed yellow;
}

/*********************************** 1. 상단 영역 ***********************************/

/* 1-1. 로고 */
/* 1-2. 링크 타이틀 */
/* 1-3. 탑 이동 버튼 */

/*********************************** 2. 메인 영역 ***********************************/

/***************
2-1. 로봇 박스
***************/
.robx{
    padding: 200px 0 400px;
}
/***** 2-1-1. 로봇 머리 *****/
.head{
    /* 하위 div들을 위한 부모 자격 부여 */
    position: relative;
    z-index: 1;

    width: 200px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50% 50% 100% 100%;
}
/* 로봇 머리 직계 하위 div는 모두 앱솔루트 */
.head>div{
    position: absolute;
}

/* 로봇 머리에 가상요소로 머리털 박스 만들기 */
.head::before{
    content: '';
    display: block;
    position: absolute;
    /* 이때 부모는 .head */
    top: -75px;
    left: -147px;
    width: 500px;
    height: 400px;
    /* background-color: #900; */
    background: url(../images/hair01.png) no-repeat center/100% 100%;
}

/* 2-1-1. 눈 공통 클래스 */
.eye{
    width: 50px;
    height: 50px;

    /* 배경 공통 */
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    /* 둥근 모서리 */
    border-radius: 50%;
    /* 보더 이중선 */
    border: 4px double #000;
}
/* 2-1-1. 왼쪽 눈 */
.L_eye{
    background-image: url(../images/eye-L.png);
    top: 53px;
    left: 28px;
}
/* 2-1-1. 오른쪽 눈 */
.R_eye{
    top: 67px;
    right: 25px;
    background-image: url(../images/eye-R.png);
}
/* 눈물점으로 별 박아보기 */
.R_eye::before{
    content: '';
    display: block;
    position: absolute;
    /* 부모는? R_eye */
    top: 40px;
    right: -15px;
    width: 20px;
    height: 20px;
    background-color: red;

    /* 클리핑으로 별 만들기 */
    clip-path: polygon(50% 0,63% 37%,100% 37%,70% 62%,80% 100%,50% 77%,20% 100%,30% 62%,0 37%,37% 37%);

    /* 
    [ css 클리핑 속성 ]
    -> clip-path (cpp) : polygon(x1 y1,x2 y2, ...)
    -> 각 좌표위치는 띄어쓰기로 구분, 각 점은 콤마로 구분한다.
    -> 각 점을 연결하는 도형을 출력
    -> px는 각 도형의 크기를 수치로 쓰고
    -> %는 도형을 기준한 위치를 사용한다.
    */
}

/* 2-1-1. 귀 공통 클래스 */
.ear{
    top: 90px;
    width: 30px;
    height: 50px;
}
/* 2-1-1. 왼쪽 귀 */
.L_ear{
    left: -30px;
    border-radius: 35px 0 0 60px;
}
/* 2-1-1. 오른쪽 귀 */
.R_ear{
    left: 200px;
    border-radius: 0 35px 60px 0;
}

/* 2-1-1. 코 */
.nose{
    width: 30px;
    height: 30px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
    top: 50%;
    left: calc(50% - 15px);
    border-radius: 20%;
}

/* 2-1-1. 입 */
.mouth{
    width: 160px;
    height: 80px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
    top: 55%;
    left: calc(50% - 80px);
}

/***************
2-2. 로봇 몸통
***************/
.body{
    position: relative;
    /* 하위 div들을 위한 부모 자격 부여 */
    z-index: -2;
    width: 100px;
    height: 400px;
    margin: 30px auto 0;
    
    /* clip-path: polygon(0 0,100% 0,90% 50%,100% 100%,0 100%,10% 50%);
    overflow: none; 
    클리핑으로 개미 허리를 만들려고 했지만 클리핑을 하면 기본으로 오버플로우 히든 기능이 있어서 팔 다리가 전부 가려진다.
    오버플로우 논을 입력해도 풀리지 않는다. */
}
/* 로봇 몸통 직계 하위 div는 모두 앱솔루트 */
.body>div{
    position: absolute;
}

/* 개미허리를 body에서 만들 수 없었으니 body의 width 값을 200에서 좀 줄이고 가상요소로 위에 덧붙이자. */
/* 몸통 가상요소로 상단만들기 */
.body::before{
    content: '';
    display: block;
    position: absolute;
    /* z-index: -1; */
    left: -50px;
    width: 200px;
    height: 200px;
    /* 그라데이션 */
    background-image: 
    linear-gradient(-25deg,rgb(255, 230, 240), rgb(255, 129, 200),rgb(255, 220, 235),rgb(255, 172, 200));
    /* linear-gradient(-25deg,#eee, #818181,#e2e2e2,#acacac); */
    /* 몸깍기 */
    clip-path: 
    polygon(0 0,2% 10%,4% 30%,5% 50%,12% 65%,15% 75%,17% 80%,25% 100%,75% 100%,83% 80%,85% 75%,88% 65%,95% 50%,96% 30%,98% 10%,100% 0);
}

/* 몸통 가상요소로 하단만들기 */
.body::after{
    content: '';
    display: block;
    position: absolute;
    /* z-index: -1; */
    bottom: 0;
    left: -50px;
    width: 200px;
    height: 150px;
    /* 그라데이션 */
    background-image: 
    linear-gradient(-25deg,rgb(0, 217, 255), #4feaff,#038ef8,#02e6ff);
    
    /* 몸깍기 */
    clip-path: 
    polygon(10% 0,0 20%,0 50%,10% 100%,90% 100%,100% 50%,100% 20%,90% 0);
}

/* 2-2-1. 목 */
.neck{
    top: -40px;
    left: 35px;
    width: 30px;
    height: 60px;
    border-radius: 0 0 20px 20px;
}

/* 2-2-1. 팔 공통 클래스 */
.arm{
    width: 40px;
    height: 150px;
    z-index: -1;
    border-radius: 15px 15px 5px 5px;
    transform-origin: center 20px;
}
/* 공통 팔에 가상 요소로 팔꿈치 만들기 */
.arm::before{
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    bottom: -12%;
    width: 36px;
    height: 36px;
    border: 3px solid #333;
    border-radius: 50%;
    background-color: #ccc;
}
/* 손~팔꿈치 구현 */
.arm span{
    position: absolute;
    /* 부모는? arm */
    left: 3px;
    top: 150px;
    width: 34px;
    height: 120px;
    border-radius: 5px 5px 15px 15px;
}
/* 공통 팔 하단에 가상 요소로 손 공간 만들기 */
.arm span::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -80px;
    width: 50px;
    height: 80px;
    outline: 1px solid red;
}
/* 2-2-1. 왼팔 */
.L_arm{
    top: 10px;
    left: -85px;
    transform: rotate(30deg);
}
/* 왼팔 하단 */
.L_arm span{
    transform: rotate(270deg);
    transform-origin: center 0;
}
/* 왼 손 */
.L_arm span::after{
    background: url(../images/hand_left.png) no-repeat top/100%;
    left: -5px;
}
/* 2-2-1. 오른팔 */
.R_arm{
    top: 10px;
    left: 145px;
    transform: rotate(350deg);
    /* transform: rotateX(180deg); */
}
/* 오른팔 하단 */
.R_arm span{
    transform: rotate(350deg);
    /* transform: rotateX(40deg); */
    transform-origin: center 0;
}
/* 오른 손 */
.R_arm span::after{
    background: url(../images/hand_right.png) no-repeat top/100%;
    left: -12px;
}

/* 2-2-1. 왼다리 */
/* 2-2-1. 오른다리 */

/* 2-2-1. 어깨 공통 클래스 */
.shd{
    width: 40px;
    height: 50px;
}
/* 2-2-1. 왼어깨 */
.L_shd{
    left: -90px;
    transform-origin: right top;
    transform: rotate(346deg);
    border-radius: 20px 0 20px 20px;
}
/* 2-2-1. 오른어깨 */
.R_shd{
    left: 150px;
    transform-origin: left top;
    transform: rotate(14deg);
    border-radius: 0 20px 20px 20px;
}
/* 2-2-1. TV */
/*********************************** 3. 하단 영역 ***********************************/

