@charset "utf-8";

/* 초기화 */
html,body{
    margin: 0;
    padding: 0;
}

h1, h2{
    text-align: center;
}
/* 전체 스케줄 */
.schedule{
    width: 95%;
    margin: 10px auto;
}
/* 날짜 */
th{
    background-color: rgb(150, 255, 255);
}
/* 내용 */
td{
    /* height: 60px; */
    /* line-height: 1.5; */
}
/* n교시 */
.period{
    width: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}
a.youtube{
    color: rgb(0, 150, 255);
}
a.n_blog{
    color: rgb(60, 175, 125);
}
a:not(.youtube):not(.n_blog){
    color: rgb(150, 0, 255);
}
/* 첫번째 줄 */
.li01 td:nth-child(2),
td:nth-child(1):not(.period){
    background-color: rgb(230, 230, 230);
    width: 22%;
}
/* 두번째 줄 */
.li01 td:nth-child(3),
td:nth-child(2):not(.main){
    background-color: rgb(245, 245, 245);
    width: 33%;
}
/* 쉬는 시간 */
.schedule tr>.thr{
    height: 1px;
    background-color: rgb(150, 220, 190);
}