@charset "utf-8";
/* 구청 홍보 사이트 애니메이션 CSS - main.css */

/* 전제조건:
모든 애니메이션은 body.on 인 경우에 적용됨! */

/* 메인 페이지 배경 이동 애니메이션 */
body.on{
    animation: bgMove 1s ease-in 1 3.4s forwards;
}
@keyframes bgMove {
    to{
        background: url(../img/blue_bg01.jpg) no-repeat fixed left/cover;
    }
}

/* 마스코트가 밖으로 퇴장시 가로 스크롤바가 생겨서 오버플로우 주기 */
body {
    overflow-x: hidden;
}

/* 이미지 들의 상위 태그인 섹션에 포지션과 가로 세로 크기를 줘서 이미지들의 위치를 고정 */
.cat{
    position: relative;
    width: 100px;
    height: 100px;
    /* background-color: red; */
    margin: 0 auto;
}

/* 마스코트 이미지 */
@keyframes manRotate {
    50%{
        transform: translateX(-50%) rotate(10deg);
    }
    100%{
        transform: translateX(-50%) rotate(-2deg);
    }
}
@keyframes manMove {
    to{
        left: -1000px;
        visibility: hidden;
    }
}
@keyframes girlRotate {
    50%{
        transform: translateX(50%) rotate(-10deg);
    }
    100%{
        transform: translateX(50%) rotate(2deg);
    }
}
@keyframes girlMove {
    to{
        right: -1000px;
        visibility: hidden;
    }
}
.ci:first-child>img:first-child{
    position: absolute;
    z-index: 9;
    top: 175px;
    left: -105px;
    transform: translateX(-50%);
    transform-origin: bottom center;
    animation:
    manRotate 2s ease-in-out 1 forwards,
    manMove 1.5s ease-in 1 1.9s forwards;
}
.ci:first-child>img:last-child{
    position: absolute;
    z-index: 9;
    top: 210px;
    right: -105px;
    transform: translateX(50%);
    transform-origin: bottom center;
    animation:
    girlRotate 2s ease-in-out 1 forwards,
    girlMove 1.5s ease-in 1 1.9s forwards;
}

/* 문구 이미지 */
@keyframes opacity01 {
    to{
        opacity:1;
    }
}
.ci:nth-child(n+2):nth-child(-n+3){
    display: flex;
    align-items: center;
    opacity:0;
    animation: opacity01 1.5s ease-out 2.3s 1 forwards;
}
.ci:nth-child(2){
    position: absolute;
    top: 35px;
    left: -505px;
}
.ci:nth-child(3){
    position: absolute;
    top: 180px;
    left: -270px;
}
.ci:nth-child(n+2):nth-child(-n+3) img:first-child{
    margin-right: 20px;
    height: 70px;
}
@keyframes gradation {
    to{
        filter: brightness(150%) contrast(110%) saturate(110%) hue-rotate(360deg);
    }
}
.ci:nth-child(n+2):nth-child(-n+3) img:last-child{
    height: 130px;
    filter: brightness(150%) contrast(110%) saturate(110%) hue-rotate(0deg);
    animation: gradation 2s ease-in-out 3.5s 3 forwards;
}

/* 반투명 로고 이미지 */
.ci:nth-child(4){
    position: absolute;
    top: 100px;
    right: -540px;
    opacity:0;
    animation: opacity01 1.5s ease-out 2.3s 1 forwards;
}

/* 사람들 실루엣 이미지 */
.ci:nth-child(5){
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 360px;
    right: -600px;
    transform: translateX(-50%);
}

/* 비둘기 실루엣 이미지 */
.ci:nth-child(6) img{
    height: 100px;
}
.ci:nth-child(6) img:first-child{
    position: absolute;
    top: 600px;
    right: 600px;
}