@charset "utf-8";
/* 구청 홍보 사이트 메인페이지 CSS - main.css */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

.in_bg{
    position: fixed;
    width: 100%;
    height: calc(100% - 90px);
    margin-top: 90px;
    opacity: 0;
    transition: all 1.5s;
}
.in_bg:first-child{
    opacity: 1;
}

body.on{
    background: url(../img/blue_bg02.jpg) no-repeat fixed right/cover;
}