@charset "utf-8";
/* main.html CSS - main.css */

/******************** 2. 메인 영역 ********************/
#cont {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

/***** 2-1. 왼쪽 메뉴 *****/
.gnbL {
    position: fixed;
    top: 90px;
    width: 300px;
    height: calc(100vh - 90px);
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #3d5a7e;
    overflow-Y: scroll;
}
.l_menu>span {
    display: block;
    width: calc(100% - 18px);
    height: 100%;
    padding-left: 18px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    background-color: #304f76;
    border-bottom: 5px solid #339e67;
    transition: height 0.3s;
}
.l_menu>ul{
    overflow: hidden;
    transition: height 0.3s;
}
.l_menu>ul>li {
    position: relative;
    height: 34px;
}
.l_menu>ul>li::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 40%;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    width: 4px;
    height: 4px;
}
.l_menu>ul>li:hover::before {
    border-top: 2px solid #333;
    border-right: 2px solid #333;
}
.l_menu>ul>li>a {
    display: block;
    width: 95%;
    height: 200%;
    margin: 0 auto;
    padding-left: 25px;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: -1px;
    word-spacing: -1px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    background-color: #3d5a7e;
    border-radius: 18px;
    box-sizing: border-box;
    transition: 0.3s;
}
.l_menu>ul>li:hover>a {
    color: #333;
    background-color: #fff;
    font-weight: 700;
    border: 1px solid #19529d;
}
.l_menu>ul>li>a.change_color{
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 1px solid #082b58;
}

/***** 2-2. 동영상 *****/
.movie {
    position: absolute;
    top: 90px;
    left: 320px;
    width: 880px;
    margin: auto;
}
.movie span{
    display: block;
    height: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding-left: 5px;
    color: #fff;
    line-height: 4rem;
}
.movie video {
    width: 880px;
}
/* 설명문 */
.exp{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #eee;
    line-height: 2;
    border-top: 3px solid #333;
    margin-bottom: 30px;
    word-break: keep-all;
}
.exp ul li:first-child{
    font-size: 2.4rem;
}
.exp ul li:not(:first-child){
    margin-left: 30px;
}
.exp01{
    display: none;
}
.exp02{
    display: none;
}
.exp02>div{
    font-size: 1.4rem;
}
.exp03{
    display: none;
}
.exp04 img{
    width: 800px;
}
.exp04{
    display: none;
}