@charset "utf-8";
/* 공통 모듈 디자인 CSS - common.css
-> 상단 영역, 하단 영역의 구체적인 디자인 */

/*************************** 1. 상단 영역 ***************************/
.top{
    height: 128px;
}
/*************************** 2. 메인 영역 ***************************/
.cont{
    min-height: 800px;
    /* 자식 요소가 많아지면 자동으로 늘어남! */
}
/*************************** 3. 하단 영역 ***************************/
.info{
    height: 240px;
}