@charset "utf-8";
/* 공통 모듈 디자인 CSS - common.css
-> 상단 영역, 하단 영역의 구체적인 디자인 */

/*************************** 1. 상단 영역 ***************************/
/* 겉 박스 */
#top{
    background-color: #fff;
}

.top{
    height: 128px;
    position: relative;
}

/* 1-1. 로고 */
h1.logo{
    width: 126px;
    margin: 0 auto;
    padding-top: 20px;
}
/* 로고 이미지 요소 */
.logo img{
    width: 100px;
}

/* 1-2. GNB 메뉴 */
nav.gnb ul{
    /* 플렉스 박스: 흐르게 할 요소의 직계부모 */
    display: flex;
    /* 진행방향 정렬 */
    justify-content: center;
    /* 마진탑은 부모이 nav.gnb 바깥으로 나가서 위의 박스를 밀고 있다. */
    margin-top: 10px;
}
/* GNB a 요소 */
.gnb>ul>li>a{
    color: #000;
    text-decoration: none;
    line-height: 40px;
    margin: 0 10px;
}

/* 1-3. 탑메뉴 */
aside.tmenu{
    position: absolute;
    /* 부모는? .top */
    top: 5%;
    right: 5%;
}
/* 회원가입 등 메뉴 박스 */
.tmenu>ul{
    display: flex;
    /* 플렉스 박스 : 하위 li박스 옆으로 흐름 */
}
.tmenu>ul>li{
    margin: 0 5px;
}
.tmenu>ul>li>ol{
    display: flex;
    /* 플렉스 박스 : 하위 li박스 옆으로 흐름 */
}
.tmenu>ul>li>ol>li{
    margin: 0 5px;
}


/*************************** 2. 메인 영역 ***************************/
.cont{
    min-height: 800px;
    /* 자식 요소가 많아지면 자동으로 늘어남! */
}
/*************************** 3. 하단 영역 ***************************/
.info{
    height: 240px;
}